<link rel="stylesheet" href="{{ 'index-product.css' | asset_url }}">

{{ 'quick-add.css' | asset_url | stylesheet_tag }}
<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}

 <section class="section-{{ section.id }}-padding custom-product-wrapper" >
    <div class="page-width">
        <div class="grid grid--2-col">
            <div class="grid__item left-column">
                <div class="left-column-inner">
                    <div class="left-col-image {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                        {% if section.settings.left_image != blank %}
                            <img src="{{ section.settings.left_image | image_url }}" alt="{{ section.settings.left_image.alt }}" loading="lazy" height="" width="">
                        {% else %}
                            {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                        {% if section.settings.link_text != blank or section.settings.link_url != blank %}                            
                        <a href="{{ section.settings.link_url }}" class="button more-images {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"> {{ section.settings.link_text }} </a>
                        {% endif %}
                    </div>
                    {% if section.settings.left_heading != blank %}                        
                    <div class="left-col-content {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                       <h2> {{ section.settings.left_heading }} </h2>
                    </div>
                    {% endif %}
                </div>                
            </div>
            <div class="grid__item right-column">  
                <div class="right-column-inner">
                    <div class="right-col-image {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                        {% if section.settings.right_image != blank %}
                            <img src="{{ section.settings.right_image | image_url }}" alt="{{ section.settings.right_image.alt }}" loading="lazy" height="" width="">
                        {% else %}
                            {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                    </div>
                    <div class="right-col-product {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                        {% assign product = all_products[section.settings.custom_product] %}
                        <div class="title-price">
                            <h2> {{- section.settings.product_heading -}} </h2>
                            <div class="price-wrap">  
                               <h3>
                                        {%-  liquid  
                                        if product.compare_at_price > product.price
                                        echo product.compare_at_price | money
                                        else
                                        echo product.price | money
                                        endif
                                -%}
                               </h3>
                            </div>
                        </div>                      
                        <div class="rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                            {{ section.settings.right_text_1 }}
                        </div>
                        {% render 'add-to-cart-button', card_product: product, section_id: section.id %}
                    </div>
                    <div class="right-col-description">
                        <div class="rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                            {{ section.settings.right_text_2 }}
                        </div>
                        {% if section.settings.right_link_text != blank or section.settings.right_link_url != blank %}                            
                        <a href="{{ section.settings.right_link_url }}" class="button {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"> {{ section.settings.right_link_text }} </a>
                        {% endif %}
                    </div>
                </div>              
            </div>
        </div>
    </div>
 </section>

{% schema %}
    {
        "name": "Product",
        "settings": [
            {
                "type": "header",
                "content": "Left Column"
            },
            {
                "type": "textarea",
                "id": "left_heading",
                "label": "Heading",
                "default": "Extending The Stadium <span>Experience</span>, To The Home."
            },
            {
                "type": "image_picker",
                "id": "left_image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "link_text",
                "label": "Link Text",
                "default": "More Image"
            },
            {
                "type": "url",
                "id": "link_url",
                "label": "URL"
            },
            {
                "type": "header",
                "content": "Right Column"
            },
            {
                "type": "text",
                "id": "product_heading",
                "label": "Product Heading",
                "default": "The Antibacterial Shelf Lavcup"
            },
            {
                "type": "richtext",
                "id": "right_text_1",
                "label": "Text",
                "default": "<p>Antibacterial shelf with non-slip surface and built-in customizable messaging. Please reference our installation guide on how to best install your LavCup.</p>"
            },
            {
                "type": "richtext",
                "id": "right_text_2",
                "label": "Text",
                "default": "<p>Antibacterial shelf with non-slip surface and built-in customizable messaging. Please reference our installation guide on how to best install your LavCup.</p>"
            },
            {
                "type": "product",
                "id": "custom_product",
                "label": "Prdouct"
            },
            {
                "type": "image_picker",
                "id": "right_image",
                "label": "Image"
            },
            {
                "type": "image_picker",
                "id": "right_image_bg",
                "label": "Column Background Image"
            },
            {
                "type": "text",
                "id": "right_link_text",
                "label": "Link Text",
                "default": "More Image"
            },
            {
                "type": "url",
                "id": "right_link_url",
                "label": "URL"
            }, {
                "type": "header",
                "content": "t:sections.all.padding.section_padding_heading"
            }, {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "t:sections.all.padding.padding_top",
                "default": 36
            }, {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "t:sections.all.padding.padding_bottom",
                "default": 36
            }
        ],
        "presets": [
            {
            "name" : "Product"
        }
    ]
    }
{% endschema %}