<link rel="stylesheet" href="{{ 'hero-banner.css' | asset_url }}">
<section class="hero-banner-wrapper" >
    <div class="page-width">
        <div class="hero-banner background-image" style="background-image:url({{ section.settings.background_image | image_url }}); backrground-color:#F6F6F6;">
            <div class="hero-banner-content">
                <h1 class="banner-heading {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"> {{ section.settings.heading }} </h1>
                <div class="rte banner-text {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    {{ section.settings.text }}
                </div>
            </div>
            <div class="hero-banner-image {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {% if section.settings.image != blank %}
                <img class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt }}" width="" height="">
                    {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image "
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image "
            },
            {
                "type": "textarea",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            }
        ],
        "presets": [
            {
                "name": "Hero Banner"
            }
        ]
    }
{% endschema %}