{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<section class="policy shipping-policy-content">
  <div class="page-width">
    <div class="rte">
      {{ shop.shipping_policy }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Content",
    "settings": []
  }
{% endschema %}